.FofDiscussionLanguagesSettingsModal {
  .Form-group.flex, .Form-group > .flex {
    display: flex;
    justify-content: space-between;

    input {
      flex-grow: 1;
    }

    button {
      flex-shrink: 1;
      margin-left: 5px;
    }

    &:not(:first-of-type) {
      margin-top: 5px;
    }
  }

  .Button--primary {
    padding: 8px 13px;
  }
}
