.FofDiscussionLanguagesSettingsPage {
  margin-top: 25px;
  .Form-group.flex,
  .Form-group > .flex {
    display: grid;
    grid-template-columns: 1fr 1fr 36px;
    gap: 4px;

    .Select .Select-input {
      width: 100%;
    }

    &:not(:first-of-type) {
      margin-top: 4px;
    }
  }

  .Button--primary {
    padding: 8px 13px;
  }
}
