.item-discussion-language {
  code {
    margin-left: 5px;
    text-transform: uppercase;
  }

  margin-right: 5px;
}

.Composer .item-language {
  margin-right: 10px;

  .Select {
    vertical-align: baseline;
  }

  .Select-input {
    vertical-align: auto;
    padding: 0 20px 0 5px;
    height: 24px;
  }

  .Select-caret {
    margin-left: -20px;
  }
}
